/* цвет основного текста #757575; */
/* вторичный цвет текста #212121; */
/* белый #FFFFFF; */
/* акцент #2196F3; */
/* вторичный цвет фона #F5F4FA; */

:root {
--main-text-color: #757575;
--secondary-text-color: #212121;
--accent-color: #2196F3;
--main-bg-color: #FFFFFF;
--header-bg-color: #FFFFFF;
--footer-bg-color: #2F303A;
--hero-text-color: #FFFFFF;
--button-text-color: #FFFFFF;
--footer-text-color: #FFFFFF;
--button-backgound-color: #F5F4FA;





}

body {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    font-family: Roboto, sens-serif;
    letter-spacing: 0.03em;
    font-size: 14px;
}

ul {
    list-style: none;
}
.link {
    text-decoration: none;
}

/* Header */
.logo {
    color: var(--accent-color);
    font-family: Raleway, sens-serif;
    text-decoration: none;
    font-size: 26px;
    line-height: 1.2;    
    
}
.studio {
    color: var(--secondary-text-color);
    font-family: Raleway, sens-serif;
    text-decoration: none;
    font-size: 26px;
    line-height: 1.2;
    
}

/* site nav */
.site-nav .link {
    color: var(--secondary-text-color);
    line-height: 1.14;
    font-weight: 500;
    

}
.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

.site-nav .link.current {
    color: var(--accent-color);
    line-height: 1.14;
    font-weight: 500;
    
}

.contacts .link {
    color: var(--main-text-color);
    line-height: 1.14;
    font-weight: 500;
    

}
.contacts .link:hover,
.contacts .link:focus {
    color: var(--accent-color);
}

/* Hero */
.hero {
    background-color:var(--footer-bg-color);
}
.hero-title {
    color: var(--hero-text-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;         
    text-align: center;
    text-transform: uppercase;
}
.hero-button {
    cursor: pointer;
    border: none;

    color: var(--button-text-color);
    background-color: var(--accent-color);
    font-family: Roboto, sens-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    
    
}
.hero-button:hover,
.hero-button:focus {
    background-color: #188CE8;
}
/* Section */
.section-title {
    color: var(--secondary-text-color);
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    
}

/* Features */
.features-list .title
{
    color: var(--secondary-text-color);
    line-height: 1.14;
    text-transform: uppercase;
}

.features-text {
    color: var(--main-text-color);
    line-height: 1.7;          
    
}
/* Team */
.team-list .title {
    color: var(--secondary-text-color);
    font-weight: 500;
    font-size: 16px;
}

.position {
    color: var(--main-text-color);
    font-size: 16px;
    line-height: 1.18;      
    
}

/* Portfolio */
.work-card {
    text-decoration: none;
}

.work-list-title {
    
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.06em;
    
}
.work-list-item {
 
    color: var(--main-text-color);
    font-size: 16px;
    line-height: 1.18;      
    
}
.filter-button {
    cursor: pointer;
    border: none;
    background-color: var(--button-backgound-color);

    color: var(--secondary-text-color);
    font-family: Roboto, sens-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;       
}

.filter-button:hover,
.filter-button:focus {
    background-color: var(--accent-color);
    color: var(--button-text-color);
}



/* Footter */
.footer {
    background-color: var(--footer-bg-color);
}

.logo-footer {
    color: var(--accent-color);
    font-family: Raleway, sens-serif;
    text-decoration: none;
    font-size: 26px;
    line-height: 1.2;
    
}

.studio-footer {
    color: var(--footer-text-color);
    font-family: Raleway, sens-serif;
    text-decoration: none;
    font-size: 26px;
    line-height: 1.2;
    
}
.address-link {
    text-decoration: none;
    color: var(--footer-text-color);
    font-family: Roboto;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;          
    letter-spacing: 0.03em;
}
.mail-link {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    font-family: Roboto;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

.tel-link {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    font-family: Roboto;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
}